@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-20deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.hero {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto 10rem auto;
  padding: 7rem 2rem 0 2rem;

  &__image {
    width: 155px;
    height: 130px;
    border-radius: 0.4rem;
    padding: 0.2rem;
  }

  &__title {
    width: 100%;
    max-width: 710px;
    letter-spacing: 0.1rem;
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 3rem;
    text-align: left;

    &--welcome {
      animation-name: wave-animation;
      animation-duration: 2s;
      animation-iteration-count: 2;
      transform-origin: 70% 70%;
      display: inline-block;
    }
  }

  &__description {
    width: 100%;
    max-width: 610px;
    margin-bottom: 4rem;
    line-height: 2rem;
    font-size: 1.25rem;
    font-weight: 200;
    text-align: left;
  }

  &__link {
    color: $lightBlue;
    font-size: 1.25rem;
    font-weight: 300;
    text-decoration: none;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -0.01rem;
      left: 0;
      width: 0%;
      height: 0.13rem;
      background-color: $lightBlue;
      transition: width 0.6s ease-in-out;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__email::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    width: 0%;
    height: 0.14rem;
    background-color: $lightBlue;
  }

  &:hover::after {
    width: 100%;
  }
}
