@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,600&display=swap");

$fontSize: 16px;
$fontFamily: "Poppins", sans-serif;

$white: #fff;
$violet: #171f3f;
$lightBlue: #0593fb;
$lightGrey: #f5f7fa;
$borderRightGrey: #cbd2d9;


//skills section

$lightGreen: #06c847;
$lightViolet: #653cad;
$JustBlue:#2251cc;