@import "_normalize";
@import "_variables";

html {
  box-sizing: border-box;
  font-size: $fontSize;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $white;
  font-family: $fontFamily;
  border: 1rem solid $violet;
  color: $violet;
}

.main {
  width: 100%;
}

.hero {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto 10rem auto;
  padding: 7rem 2rem 0 2rem;

  &__image {
    width: 130px;
    height: 130px;
    border: 0.3rem solid $borderRightGrey;
    border-radius: 50%;
    padding: 0.2rem;
  }

  &__title {
    width: 100%;
    max-width: 710px;
    letter-spacing: 0.1rem;
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 3rem;
    text-align: left;
  }

  &__description {
    width: 100%;
    max-width: 610px;
    margin-bottom: 4rem;
    line-height: 2rem;
    font-size: 1.25rem;
    font-weight: 200;
    text-align: left;
  }

  &__link {
    color: $lightBlue;
    font-size: 1.25rem;
    font-weight: 300;
    text-decoration: none;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -0.01rem;
      left: 0;
      width: 0%;
      height: 0.13rem;
      background-color: $lightBlue;
      transition: width 0.6s ease-in-out;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__email::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    width: 0%;
    height: 0.14rem;
    background-color: $lightBlue;
  }

  &:hover::after {
    width: 100%;
  }
}

.skills {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto 10rem auto;
  padding: 0 1rem 0 2rem;

  &__title {
    font-size: 2.25rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid $lightGrey;
  }

  .skills-group {
    margin-top: 10rem;
    display: flex;

    &:hover > .skills-group__title::before {
      width: 5rem;
    }

    &:hover > .skills-group__title--knowledge {
      color: $lightGreen;
    }

    &:hover > .skills-group__title--something {
      color: $lightViolet;
    }

    &:hover > .skills-group__title--learn {
      color: $JustBlue;
    }

    &__title {
      font-size: 2rem;
      margin: 0;
      width: 100%;
      position: relative;
      transition: color 0.5s ease-in-out;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: -1.3rem;
        left: 0;
        width: 3rem;
        height: 0.2rem;
        border-radius: 0.5rem;
        transition: width 0.5s ease-in-out;
      }

      &--knowledge::before {
        background-color: $lightGreen;
      }

      &--something::before {
        background-color: $lightViolet;
      }

      &--learn::before {
        background-color: $JustBlue;
      }
    }

    &__list {
      width: 100%;
      margin: 0;
      list-style: none;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-column-gap: 3rem;
      grid-row-gap: 1.5rem;
    }

    &__item {
      margin-top: 0.5rem;
      font-weight: 300;
      font-size: 1.125rem;
      position: relative;

      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: -2rem;
        width: 16px;
        height: 16px;
      }

      &--knowledge::before {
        background: url("../assets/img/check-green.svg");
      }

      &--something::before {
        background: url("../assets/img/check-violet.svg");
      }

      &--learn::before {
        background: url("../assets/img/check-blue.svg");
      }
    }
  }
}

.projects {
  width: 100%;
  background: $lightGrey;

  &__box {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 5rem 2rem;
  }

  &__title {
    font-size: 2.25rem;
  }

  &__paragraph {
    width: 100%;
    max-width: 550px;
    font-size: 1.25rem;
    text-align: left;
    line-height: 2rem;
    margin-bottom: 5rem;
  }

  &__list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  &__item {
    background: $white;
    box-shadow: 0px 6px 16px rgba(24, 41, 67, 0.2);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__content {
    padding: 2rem 2rem 0 2rem;
  }

  &__sub-title {
    font-size: 1.25rem;
  }

  &__description {
    width: 100%;
    max-width: 550px;
    text-align: left;
    line-height: 1.5rem;
    margin-bottom: 3rem;
    font-size: 1.125rem;
    font-weight: 200;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: $lightGrey;
    padding: 1rem 2rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  &__link {
    text-decoration: none;
    margin-left: 3rem;
    color: $lightBlue;
    position: relative;
    font-size: 1.125rem;

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: -1.8rem;
      width: 1.25rem;
      height: 1.25rem;
    }

    &:hover::after {
      opacity: 1;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: -0.6rem;
      left: -2rem;
      height: 2.5rem;
      width: 6.5rem;
      opacity: 0;
      background: $lightGrey;
      background-image: url("../assets/img/moving_forward-arrow.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      transition: opacity 0.6s ease-in-out;
    }

    &--demo {
      border-right: 1px solid $borderRightGrey;
      padding-right: 1.5rem;
      position: relative;

      &::before {
        background: url("../assets/img/computer-icon.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
      }
    }

    &--github::before {
      background: url("../assets/img/terminal-icon.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
    }
  }
}

.contact {
  width: 100%;
  background: $violet;
  color: $white;

  &__box {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 7rem 2rem;
  }

  &__title {
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -1.5rem;
      left: 0;
      width: 3rem;
      height: 0.2rem;
      border-radius: 0.5rem;
      background-color: $lightBlue;
    }
  }

  &__title {
    font-size: 2rem;
  }

  &__paragraph {
    width: 100%;
    max-width: 570px;
    font-weight: 200;
    font-size: 1.25rem;
    text-align: left;
    line-height: 2rem;
  }

  &__list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0.5rem 0 3rem 0;
  }

  &__item + &__item {
    margin-left: 1rem;
  }

  &__email {
    color: $lightBlue;
    text-decoration: none;
    font-size: 1.25rem;
    position: relative;

    &:hover::after {
      width: 100%;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -0.5rem;
      left: 0;
      width: 0%;
      height: 0.14rem;
      background-color: $lightBlue;
      transition: width 0.6s ease-in-out;
    }
  }
}

@media screen and(max-width: 900px) {
  .skills-group {
    flex-direction: column;

    &__list {
      padding: 4rem 0 0 1.8rem;
    }
  }
}

@media screen and(max-width: 800px) {
  .projects__list {
    grid-template-columns: 1fr;
  }
}

@media screen and(max-width: 670px) {
  html {
    font-size: 12px;
  }

  body {
    border: none;
  }

  .skills__title {
    text-align: center;
  }

  .projects {
    &__title {
      text-align: center;
    }

    &__paragraph {
      text-align: center;
      line-height: 2.4rem;
    }
  }
}
