@import "_normalize";
@import "_variables";

@import "modules/hero.scss";
@import "modules/skills.scss";
@import "modules/projects.scss";
@import "modules/contact.scss";

html {
  box-sizing: border-box;
  font-size: $fontSize;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $white;
  font-family: $fontFamily;
  border: 1rem solid $violet;
  color: $violet;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and(max-width: 900px) {
  .skills-group {
    flex-direction: column;

    &__list {
      padding: 4rem 0 0 1.8rem;
    }
  }
}

@media screen and(max-width: 800px) {
  .projects__list {
    grid-template-columns: 1fr;
  }
}

@media screen and(max-width: 670px) {
  html {
    font-size: 12px;
  }

  body {
    border: none;
  }

  .skills__title {
    text-align: center;
  }

  .projects {
    &__box {
      align-items: center;
    }

    &__paragraph {
      text-align: center;
      line-height: 2.4rem;
    }
  }
}
