@import "_normalize";
@import "_variables";
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,600&display=swap");

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #fff;
  font-family: "Poppins", sans-serif;
  border: 16px solid #171f3f;
  color: #171f3f;
}

.main {
  width: 100%;
}

.hero {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto 10rem auto;
  padding: 7rem 5rem 0 2rem;

  &__image {
    width: 130px;
    height: 130px;
    border: 4px solid #cbd2d9;
    border-radius: 50%;
    padding: 0.2rem;
  }

  &__title {
    width: 100%;
    max-width: 710px;
    letter-spacing: 0.1rem;
    font-size: 40px;
    font-weight: 600;
    line-height: 3rem;
    text-align: left;
  }

  &__description {
    width: 100%;
    max-width: 610px;
    margin-bottom: 4rem;
    line-height: 2rem;
    font-size: 20px;
    font-weight: 200;
    text-align: left;
  }

  &__link {
    color: #0593fb;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -0.01rem;
      left: 0;
      width: 0%;
      height: 0.03rem;
      background-color: #0593fb;
      transition: width 0.5s ease-in-out;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__email::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    width: 0%;
    height: 0.14rem;
    background-color: #0593fb;
  }

  &:hover::after {
    width: 100%;
  }
}

.skills {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto 10rem auto;
  padding: 0 1rem 0 2rem;

  &__title {
    font-size: 36px;
    padding-bottom: 1rem;
    border-bottom: 2px solid #cbd2d9;
  }

  .skills-group {
    margin-top: 10rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    &:hover > .skills-group__title::before {
      width: 5rem;
    }

    &:hover > .skills-group__title--knowledge {
      color:#06c847;
    }

    &:hover > .skills-group__title--something {
      color:#653cad;
    }

    &:hover > .skills-group__title--learn {
      color:#2251cc;
    }

    &__title {
      font-size: 32px;
      width: 450px;
      margin: 0;
      margin-right: 10rem;
      position: relative;
      transition: color 0.5s ease-in-out;

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: -1.3rem;
        left: 0;
        width: 3rem;
        height: 0.2rem;
        border-radius: 0.5rem;
        transition: width 0.5s ease-in-out; 
      }

      &--knowledge::before {
        background-color: #06c847;
      }

      &--something::before {
        background-color: #653cad;
      }

      &--learn::before {
        background-color: #2251cc;
      }
    }

    &__list {
      margin: 0;
      list-style: none;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 6rem;
      grid-row-gap: 1.5rem;
    }

    &__item {
      width: 225px;
      font-weight: 300;
      font-size: 18px;
      position: relative;

      &--knowledge::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: -2rem;
        width: 18px;
        height: 18px;
        background: url("../assets/img/knowledge-circle.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
      }

      &--something::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: -2rem;
        width: 18px;
        height: 18px;
        background: url("../assets/img/something-circle.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
      }

      &--learn::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: -2rem;
        width: 18px;
        height: 18px;
        background: url("../assets/img/learn-circle.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
      }
    }
  }
}

.projects {
  width: 100%;
  background: #f5f7fa;

  &__box {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 5rem 2rem;
  }

  &__title {
    font-size: 36px;
  }

  &__paragraph {
    width: 100%;
    max-width: 550px;
    font-size: 20px;
    text-align: left;
    line-height: 2rem;
    margin-bottom: 5rem;
  }

  &__list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  &__item {
    background: #fff;
    box-shadow: 0px 6px 16px rgba(24, 41, 67, 0.2);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__content {
    padding: 2rem 2rem 0 2rem;
  }

  &__sub-title {
    font-size: 20px;
  }

  &__description {
    width: 100%;
    max-width: 550px;
    text-align: left;
    line-height: 1.5rem;
    margin-bottom: 3rem;
    font-size: 18px;
    font-weight: 200;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #f5f7fa;
    padding: 1rem 2rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }

  &__link {
    text-decoration: none;
    margin-left: 3rem;
    color: #0593fb;
    position: relative;
    font-size: 18px;

    &--demo {
      border-right: 1px solid #cbd2d9;
      padding-right: 1.5rem;
    }

    &--demo::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: -1.5rem;
      width: 18px;
      height: 18px;
      background: url("../assets/img/computer-icon.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
    }

    &--github::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: -1.5rem;
      width: 18px;
      height: 18px;
      background: url("../assets/img/terminal-icon.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
    }
  }
}

.contact {
  width: 100%;
  background: #171f3f;
  color: #fff;

  &__box {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 7rem 2rem;
  }

  &__title {
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -1.5rem;
      left: 0;
      width: 3rem;
      height: 0.2rem;
      border-radius: 0.5rem;
      background-color: #0593fb;
    }
  }

  &__title {
    font-size: 32px;
  }

  &__paragraph {
    width: 100%;
    max-width: 570px;
    font-weight: 200;
    font-size: 20px;
    text-align: left;
    line-height: 2rem;
  }

  &__list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0.5rem 0 3rem 0;
  }

  &__item + &__item {
    margin-left: 1rem;
  }

  &__email {
    color: #0593fb;
    text-decoration: none;
    font-size: 20px;
  }
}
